<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>633196BD-DBFE-4FEB-9CDD-CCF5AD34BDB7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>w-amazon</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>Search Amazon</string>
			<key>url</key>
			<string>http://www.amazon.co.jp/s?field-keywords={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
